.all{
    background-color: white;
    width: 98%;
    margin-left:1%;
    margin-top:15px;
    padding-bottom: 2%;
}
.but{
    text-align: left;
    padding-left:30px;
    display: flex;
    padding-top: 20px;
}
.selekuan{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-left:-53px;
    text-align: right;
margin-top: -5px;
margin-right: 1rem;
}
.kuan{
    height: 30px;
    width: 100px;
    line-height: 30px;
    // margin-left:1%;
    margin-right:30px;
    // margin-left: 30px;
    // width: 50px;
}
.table{
    margin-top: 20px;
    width: 96%;
    margin-left:2%
}
.pogn{
    margin-top:3%;
    margin-left:55%
}
.newbut{
    height: 40px;
    line-height: 40px;
}